extends layout

block content
    .container-fluid
        h1= title
        p Welcome
        h1 This site is a work in progress!
        //button(data-target='#test', data-toggle='collapse') The LD button
        //#test.collapse
            h1 Waow!!!!!!!
            p どういうこと
