extends layout

block content
    .container-fluid
        h1= title
        p Welcome
        p This site is a work in progress!
        //button(data-target='#balls', data-toggle='collapse') The LD button
        //#balls.collapse
            h1 Waow!!!!!!!
            p どういうこと
