doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/tether.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/sidebar.css')
        script(src='/js/jquery-3.7.1.min.js')
        script(src='/js/tether.min.js')
        script(src='/js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/script.js')
    body
        #wrapper
            .overlay
            //-collapsible sidebar TODO: Migrate to Bootstrap 4
            #collapse-wrapper
                nav.navbar.navbar-toggleable-lg.navbar-inverse.bg-inverse#sidebar(role='navigation')
                    ul.sidebar-nav.btn-group-vertical
                        //li.navbar-brand
                            a(href='/')
                        li.btn
                            a(href='/') Home
                        li.btn
                            a(href='/about') About
                        - var values = ['JapaneseKana'];
                        each file in values
                            - var hrefVal = '/' + file;
                            li
                                a(href=hrefVal)=file
                        //li
                            a(href='#', data-toggle='dropdown').dropdown-toggle
                            ul.dropdown-menu(role='menu')
                                li.dropdown-header Dropdown Heading
                                li
                                    a(href='#') stuff
            #page-content-wrapper
                block header
                    header
                        nav.navbar.navbar-light.bg-primary.text-center
                            button.navbar-toggler.float-left#offcanvas-button
                                span.navbar-toggler-icon
                            button.navbar-toggler.float-left#hide-button
                                span.navbar-toggler-icon
                            h1.text-center Learn Some Things
                            .collapse.navbar-collapse
                                ul
                                    li
                                        h1
                                            a(href="/").navbar-brand Learn useful things!
                                    li Something else
                block content
                    .container-fluid
                        h1 "Probably a 404 or something"
                footer.footer.navbar.navbar-light.text-center.bg-primary.text-center
                    p.text-center Copyright &copy; Jonathan Thai
                    //if using fixed-bottom, the text inside does not respect the sidebar pushing.





