doctype html
html
    head
        title= title
        link(rel='stylesheet', href='tether/dist/css/tether.min.css')
        link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/sidebar.css')
    body
        #wrapper
            .overlay
            //-collapsible sidebar TODO: Migrate to Bootstrap 4
            #collapse-wrapper
                nav.navbar.navbar-toggleable-lg.navbar-inverse.bg-inverse#sidebar(role='navigation')
                    ul.sidebar-nav
                        li.navbar-brand
                            a(href='/') Brand Image
                        li
                            a(href='/') Home
                        li
                            a(href='/about') About
                        li
                            a Whatever
                        - var values = ['JapaneseKana', 'Chinese'];
                        each file in values
                            li
                                a(href=file)=file
                        li
                            a(href='#', data-toggle='dropdown').dropdown-toggle
                            ul.dropdown-menu(role='menu')
                                li.dropdown-header Dropdown Heading
                                li
                                    a(href='#') stuff
            #page-content-wrapper
                block header
                    nav.navbar.navbar-light.bg-primary
                        button.navbar-toggler#offcanvas-button
                            span.navbar-toggler-icon
                        button.navbar-toggler#hide-button
                            span.navbar-toggler-icon
                        //.navbar-header
                        //
                        //    button.hamburger.is-closed(type='button', data-toggle='offcanvas')
                        //        span.hamb-top
                        //        span.hamb-middle
                        //        span.hamb-bottom
                        .collapse.navbar-collapse
                            ul
                                li
                                    h1
                                        a(href="/").navbar-brand Learn Stuff or something!
                                li Something else
                block content
                    .container-fluid
                        h1 "Probably a 404 or something"
                footer.footer.navbar.navbar-light.text-center.bg-primary
                    p Copyright &copy; Jonathan Thai
            script(src='jquery/dist/jquery.min.js')
            script(src='tether/dist/js/tether.min.js')
            script(src='bootstrap/dist/js/bootstrap.min.js')
            script(src='/js/script.js')




