extends ../layout
block content
    h1 Japanese Kana
    .container-fluid
        .row
            table.table
                tr
                    td
                    td a
                    td i
                    td u
                    td e
                    td o
                tr
                    td
                    td あ　a
                    td い i
                    td う u
                    td え e
                    td お o
                tr
                    td k-
                    td か 　ka
                    td き　ki
                    td く　ku
                    td け　ke
                    td こ　ko
                tr
                    td s-
                    td さ　sa
                    td し　shi
                    td す　su
                    td se
                    td so
                tr
                    td t-
                    td
                    td
                    td
                    td
                    td
                tr
                    td m-
                    td
                    td
                    td
                    td
                    td
                tr
                    td h-
                    td
                    td
                    td
                    td
                    td
                tr
                    td y-
                    td
                    td
                    td
                    td
                    td
                tr
                    td r-
                    td
                    td
                    td
                    td
                    td
                tr
                    td w-
                    td
                    td
                    td
                    td
                    td