extends ../layout
block content
    h1 Japanese Kana
    .container-fluid
        .row
            table.table
                tr
                    td
                    td a
                    td i
                    td u
                    td e
                    td o
                tr
                    td k-
                    td あ　
                    td い
                    td う
                    td え
                    td お