extends ../layout
block content
    .container-fluid
        h1 Japanese Kana
        .row
            table.table
                tr
                    td
                    td a
                    td i
                    td u
                    td e
                    td o
                    td
                    td a
                    td i
                    td u
                    td e
                    td o
                tr
                    td
                    td あ　a
                    td い i
                    td う u
                    td え e
                    td お o
                    td
                    td ア　a
                    td イ i
                    td ウ u
                    td エ e
                    td オ o
                tr
                    td k-
                    td か  ka
                    td き　ki
                    td く　ku
                    td け　ke
                    td こ　ko
                    td k-
                    td カ  ka
                    td キ　ki
                    td ク　ku
                    td ケ　ke
                    td コ　ko
                tr
                    td s-
                    td さ　sa
                    td し　shi
                    td す　su
                    td せ　se
                    td そ　so
                tr
                    td t-
                    td た ta
                    td ち chi
                    td つ tsu
                    td て te
                    td と to
                tr
                    td r-
                    td ら ra
                    td り ri
                    td る ru
                    td れ re
                    td ろ ro
                tr
                    td m-
                    td ま ma
                    td み mi
                    td む mu
                    td め me
                    td も mo
                tr
                    td h-
                    td は ha
                    td ひ hi
                    td ふ fu
                    td へ he
                    td ほ ho
                tr
                    td y-
                    td や ya
                    td
                    td ゆ yu
                    td
                    td よ yo
                tr
                    td w-
                    td わ wa
                    td
                    td
                    td
                    td を wo