extends ../../layout
block content
    .container-fluid
        h1 Japanese Kana
        .row
            .quiz-box.col-md-3
                h2#show-kana
                input(type='text')#user-input
                p#message
            .col-md-6
                table#table-check-off.table.table-bordered.text-center

    script.
        var selectedRows="#{selectedRows}";
        var quizType="#{quizType}";
    script(src='/js/KanaQuiz.js')

